.container {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  padding: 36px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-bottom: 16px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFoundTitle {
  margin: 8px 0 30px;
  font-size: 16px;
  font-weight: bold;
  color: #202020;
}
