.container {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  padding: 36px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-bottom: 8px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.subTitle {
  color: grey;
  margin-left: 6px;
  font-size: 12px;
  font-weight: 400;
}

.section {
  margin-bottom: 30px;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #f0f0f0;
  padding: 6px 0 5px;
}
