@use "src/styles/color.scss";
@use "src/styles/size.scss";

.navbar {
  padding: 0 30px 0 20px;
  background-color: color.$primary;
  height: size.$navbarHeight;
}

.search {
  display: flex;
  align-items: center;
}
