@use "src/styles/color.scss";
@use "src/styles/size.scss";

.navbar {
  display: flex;
  align-items: center;
  padding: 0 18px;
  background-color: color.$primary;
  height: size.$navbarHeight;
}

.search {
  flex: 1;
}
