$itemHeight: 34px;
$itemHoverBg: #eee;

.list {
  list-style: none;
}

.item {
  height: $itemHeight;
}

.link {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-radius: 5px;

  &:hover {
    background-color: $itemHoverBg;
  }
}

.linkActive {
  background-color: $itemHoverBg;
}

.name {
  flex: 1;
  margin-left: 5px;
  font-size: 14px;
}

.count {
  width: 24px;
  color: #aaa;
  font-size: 12px;
  text-align: center;
}
